<my-header>
  <h1>{state.PERSONAL_DETAILS.name}</h1>

  <style>
    h1 {
      margin: 0;
      color: white;
      background: purple;
    }
  </style>

  <script>
    const PERSONAL_DETAILS = {
      name: 'Eldar Pashazade',
      title: 'Jr. Front End Developer',
      photo: 'https://github.com/eldarlrd.png'
    };

    export default {
      state: {
        PERSONAL_DETAILS
      }
    };
  </script>
</my-header>
