<skill-item>
  <i class="devicon-{props.skill.icon} colored"></i>
  <h2>{props.skill.name}</h2>

  <style>
    :host {
      min-width: 100%;
    }

    i {
      font-size: 2.25rem;
    }

    h2 {
      word-wrap: break-word;
      margin: 0.875rem auto;
      font-size: 1.17rem;
      user-select: none;
      font-weight: 500;
      line-height: 1;
    }
  </style>
</skill-item>
