<app>
  <my-header />

  <style>
    @font-face {
      font-family: Geist;
      font-display: swap;
      src: url('GeistVF.woff2') format('woff2');
    }
  </style>

  <script>
    import MyHeader from '@/features/banners/header.riot';

    export default {
      components: {
        MyHeader
      }
    };
  </script>
</app>
